table {
    width: 100%;
  }

th {
    width: 10%;
}

.actionWidth{
  width: 20%;
}

  .basic-container {
    padding: 30px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
